@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
          <h1>Manual Tools</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Manual Tools</h2>
        <p>
           This is a web application. You can use any web browser but we recommend to use Chrome, IExplorer or Mozilla Firefox.
        </p>
     </div>
    <div class="col-md-4">
        <h2>Contact Informaction</h2>
        <p>Please let us know your comments if the application is down or if you have an error in your screen.</p>
        <p><a class="btn btn-warning" href="http://efmmxcl-5714/InventoryTool/Home/Contact">Learn more &raquo;</a></p>
    </div>
</div>